body {
    width: 90%;
    height: 100%;
    background-color: rgb(87, 49, 87);
}

.head{
    margin: auto;
    margin-top: 5em;
    width: 19%;
    height: 37em;
    border-radius: 48%;
    position: relative;
    left: 3em;
    border: 1px solid transparent;
    background-color:black;
    z-index: 1;
  }
  
  .eyes{
   z-index: 1;   
   background-color: transparent; 
   width: 10em;
   height: 5em;
   position:relative;
   left:6em;
   top: 4em;
   display: flex;
   
  
}
  
  .leftEye{
      z-index: 3;
    width: 2em;
    height: 5em;
    border-radius: 90%;
    background-color: white;
    display: flex;
    margin: auto;
  }

.rightEye{
    z-index: 3;
    width: 2em;
    height: 5em;
    border-radius: 90%;
    background-color: white;
    margin: auto;
}

.mouth{
    width: 1em;
    height: 3em; /* as the half of the width */
    background-color: white;
    z-index: 2;
    border-radius: 60%;
    transform: rotate(10deg);
    position: relative;
    top: 7em;
    left: -4.5em; 
}

.body{
    width: 120px;
    height: 120px;
    z-index: 2;
    border: 1px solid transparent;
    border-radius: 100%;
    position: relative;
    background: transparent;
    left: -5px;
    top: -5px;
}


.leftArm{
    width: 5em;
    height: 12em;
    position: relative;
    top: 11em;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 4px solid white;
    border-radius: 45%;
}

.rightArm{
    width: 5em;
    height: 12em;
    position: relative;
    left: 15em;
    top: -1em;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 4px solid white;
    border-radius: 45%;

}
/* 
.torso {
    width: 120px;
    height: 30px;
    color: blue;
    position: relative;
} */



.shadow {
    width: 8em;
    height: 1em;
    background-color: rgb(36, 36, 36);
    position: absolute;
    border-radius: 50%;
    bottom: -7em;
    left: 51%;
}

/* float */

.floating{ 
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    height: 100%;
    width: 100%;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

.shrink{
    -webkit-animation-name: scalex;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scalex(0.9);}
        50% {-webkit-transform: scalex(0.95);}
        to {-webkit-transform: scalex(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        50% {-moz-transform: scale(0.95);}
        to {-moz-transform: scale(0.9);}    
    }

